
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dental Booking{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add more stylesheets or scripts as needed -->
</head>
<body>

<footer class="bg-light text-center py-3">
    <p>&copy; 2023 Dental Booking. All rights reserved.</p>
    <!-- Add additional footer content as needed -->
</footer>


